<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Todo App</h1>

    <form method="POST" action="/">
        <input type="text" name="todo" placeholder="Escribe un todo">
        <button type="submit">Add Todo</button>
    </form>

    <h2>Todos:</h2>
    <ol>
        {% for todo in todos %}
        <li>
            <input type="checkbox" {% if todo['completed'] %}checked{% endif %}>
            <label {% if todo['completed'] %}class="completed"{% endif %}>{{ todo['task'] }}</label>
        </li>
        {% endfor %}
    </ol>

    <form method="POST" action="/complete_all">
        <button type="submit">Complete All</button>
    </form>

    <style>
        .completed {
            text-decoration: line-through;
        }
    </style>
</body>
</html>
